# shellcheck shell=bash
set -euo pipefail

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM=
fi
use flake .

install_direnv_git_hook() {
  if git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
    git config core.hooksPath .githooks
  fi
}
install_direnv_git_hook

PATH_add bin
source_env_if_exists .env.local
